@use "variables" as v;

.titulo-contacto{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: v.$fuente-titulo;
    text-shadow: v.$sombra-neon-verde;
    margin-top: 30px;
    margin-bottom: 10px;
}

.text-contacto{
    text-align: center;
        color: v.$negro;
        font-family: v.$fuente;
        font-size: 30px;
        text-shadow: v.$sombra-neon-rojo;
    
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 400px;
    width: 100%;
    
    .informacion-contacto{
        display: flex;
        flex-direction: column;
        font-size: 24px;
        gap: 16px;
        margin-left: 32px;
        width: 400px;
        
        h2{
            font-family: v.$fuente-titulo;
            text-shadow: v.$sombra-neon-verde;
            text-align: center;
        }
        input{
            width: 100%;
        }
        
        textarea{
            width: 100%;
            height: 120%;
        }
        
        label{
            font-family: v.$fuente-titulo;
        }
        
        
        [type="submit"]{
            background-color: v.$verde;
            font-size: 30px;
            padding: 10px 25px;
            border-color: black;
            border-style:groove;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }
        [type="reset"]{
            background-color: v.$verde;
            font-size: 30px;
            padding: 10px 25px;
            border-color: black;
            border-style:groove;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }
    }
    
}
    
    .mapa{
        margin-right: 32px;
        font-family: v.$fuente-titulo;
        text-shadow: v.$sombra-neon-verde;
        text-align: center;
        iframe{
            width: 600px;
            height: 450px;
        }
        .horarios-contacto{
            margin-top: 16px;
        }
        h3{
            margin-bottom: 8px;
        }
        
        p{
            margin: 0;
            text-align: center;
            font-size: 30px;
            white-space: pre-line;
            text-shadow: v.$sombra-neon-rojo;
        }
    }
    
    
    

    @include v.tablet {
        .contenedor-contacto {
            flex-direction: column;
            align-items: center;
            gap: 48px;
            
            .informacion-contacto {
                align-items: center;
                input{
                    width: 600px;
                    font-size: 1.75rem;
                    text-align: center;
                }
            }
            .informacion-contacto{
                textarea{
                    text-align: center;
                    width: 600px;
                    height: 400px;
                    font-size: 1.75rem;
                }
            }

        .mapa {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 0;
        }

        .mapa iframe {
            width: 400px;
            height: 400px;
            display: block;
            margin: 0 auto;
        }
    }
}

@include v.mobile{
    .contenedor-contacto{
        flex-direction: column;
        align-items: center;
        gap: 32px;
        .informacion-contacto{
            margin-left: 0;
        }
        .informacion-contacto input{
            width: 100%;
            font-size: 1.25rem;
        }
        .informacion-contacto textarea{
            width: 100%;
            height: 400px;
            font-size: 1.25rem;
        }
        .horarios-contacto p{
            text-align: center;
            font-size: 25px;
        }
    }
    .mapa {
        display: flex;;
        flex-direction:column;
        align-items: center;
        text-align: center;
        margin-right: 0;
        }

        .mapa iframe {
            width: 300px;
            height: 300px;
        }
        .horarios-contacto{
            text-align: center;
        }
}