@use "variables" as v;

.navbar{
    background-color: v.$gris;
    border-radius: 20px;
    justify-content: end;
    border: 2px solid v.$rojo;
    box-shadow: 
    0 0 5px v.$rojo,
    0 0 10px v.$rojo,
    0 0 20px v.$rojo;
}

.nav-link{
    font-family: v.$fuente-titulo;
    font-size: 1.7rem;
    color: v.$verde;
    text-shadow:
    0 0 5px v.$verde,
    0 0 10px v.$verde,
    0 0 20px v.$verde,
    0 0 40px v.$verde;
    -webkit-text-stroke: 1px #0a0a0a;
}
h1{
    text-align: center;
    font-family: v.$fuente-titulo;
    font-size: 4rem;
    color: v.$verde;
    text-shadow:
    0 0 5px v.$verde,
    0 0 10px v.$verde,
    0 0 20px v.$verde,
    0 0 40px v.$verde;
    -webkit-text-stroke: 1px #0a0a0a;

    @include v.tablet{
        font-size: 4rem;
    }
    @include v.mobile{
        display:none;
    }
}


.logo{
    height: auto ;
    width: 175px;
}
